{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}

    {% if app.user %}
        <section class="offcanvas offcanvas-end" id="userTools">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title" style="color: #088178;">Votre Profile</h2>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <p>NOM : {{app.user.lastname}}  </p>
                <p>PRENOM : {{app.user.firstname}}</p>
                <p>E-mail : {{app.user.email}}</p>
                <p>ADRESSE : {{app.user.address}} </p>
                <p>CODE POSTAL : {{app.user.zipcode}} </p>
                <p>VILLE : {{app.user.city}} </p>
                <a href="#" class="btn btn-success mt-3 w-100">modifier votre profile</a><br>
                <a href="{{ path('app_logout') }}" class="btn btn-primary mt-3 w-100"> se déconnecter</a>

            </div>
        </section>
        
    {% endif %}

    <section id="page-header" class="about-header" style="background-image: url('img/banner/b1.jpg');">
        <h2 >#rester à la maison</h2>
        <p>Économisez plus avec des coupons et jusqu'à 70 % de réduction </p>
    </section>

    <section id="product1" class="section-p1">
      
        <div class="pro-container">
            {% for product in products  %}
                <div class="pro" >
                    <img src="{{ vich_uploader_asset( product,'imageFile')}}" alt="#">
                    <div class="des">
                        <span>{{product.name}}</span>
                        <h5>{{product.description}}</h5>
                        <div class="star">
                            <span class="material-symbols-outlined">star_half</span>
                            <span class="material-symbols-outlined">star_half</span>
                            <span class="material-symbols-outlined">star_half</span>
                            <span class="material-symbols-outlined">star_half</span>
                            <span class="material-symbols-outlined">star_half</span>
                        </div>
                        <h4>{{product.price}}£</h4>
                    </div>
                    {% if  app.user %}
                        <a href="{{path('cart_add',{id: product.id})}}"><span class="material-symbols-outlined cart">shopping_cart</span></a>
                    
                    {% else %}
                        <a href="#"><span class=" cart">{{product.stock}}</span></a>
                    {% endif %}
                </div>
            {% endfor %}

        </div>

    </section>

    
{% endblock %}
